.idea
**/Procmon*.exe
**/ProcessMonitor/*
**/TmpColemak/*
**/*.diag

**/intellij/options/androidEditors.xml
**/intellij/options/applicationLibraries.xml
**/intellij/options/databaseDrivers.xml
**/intellij/options/debugger.xml
**/intellij/options/editor-font.xml
**/intellij/options/filetypes.xml
**/intellij/options/find.xml
**/intellij/options/javaRuleManager.xml
**/intellij/options/jdk.table.xml
**/intellij/options/nodejs.xml
**/intellij/options/other.xml
**/intellij/options/path.macros.xml
**/intellij/options/powershellSettings.xml
**/intellij/options/profilerRunConfigurations.xml
**/intellij/options/pySdk.xml
**/intellij/options/recentProjects.xml
**/intellij/options/runner.layout.xml
**/intellij/options/shownTips.xml
**/intellij/options/updates.xml
**/intellij/options/vcs.xml
**/intellij/options/window.state.xml
**/intellij/options/github*
**/intellij/options/ide-features*
**/intellij/options/scala*
**/intellij/options/web-types*
**/intellij/options/docker*
**/intellij/options/dslActivationStatus*
**/intellij/options/trusted-paths*
**/intellij/options/vim_settings_local





